.equal__width {
    flex: 1;
}

.hero__main {
    display: flex;
    width: 100%;
}

@media (max-width: 1200px) {
    .hero__header {
        background-position: center;
    }
}

@media (max-width: 768px) {
    .hero__main {
        flex-direction: column;
    }
    /* .hero__header {
        width: 0;
        display: none;
    } */
    .hero__header {
        height: 250px !important;
        background-position: left;
    }
    .equal__width {
        flex: initial;
    }
    .hero__login__form {
        width: 100vw;
        min-height: initial !important;
    }
    .input__element .input__login__element {
        width: 80%;
    }
}

.hero__header__title {
    font-size: clamp(40px, 5vw, 60px) !important;
    margin: 0 !important;
    text-align: center;
    color: #121212 !important;
    font-weight: bold;
}

.hero__header__subtitle {
    font-size: clamp(20px, 3vw, 30px) !important;
    margin: 0 !important;
    text-align: center;
    color: #121212 !important;
    font-weight: bold;
}

.hero__header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3rem;
    background-color: #eee;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://images.unsplash.com/photo-1519219788971-8d9797e0928e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1028&q=80");
}

.hero__login__form {
    min-height: 100vh;
    padding: 2rem 1.5rem 1rem;
}

.input__element {
    margin-right: 0.5rem;
    width: 45%;
    min-width: 275px;
    max-width: 600px;
}

.input__login__element {
    width: 80%;
    max-width: 500px;
    min-width: 275px;
}
